/* .back0{
    background: url("../image/1_eriol.gif");
}

.back1{
    background: url("../image/2_kaho.gif");
}

.back2{
    background: url("../image/3_kero.gif");
}

.back3{
    background: url("../image/4_mago_clow.gif");
}

.back4{
    background: url("../image/5_nakuru.gif");
}

.back5{
    background: url("../image/6_sakura.gif");
}

.back6{
    background: url("../image/7_shoran.gif");
}

.back7{
    background: url("../image/8_spi.gif");
}

.back8{
    background: url("../image/9_tomoyo.gif");
}

.back9{
    background: url("../image/10_touya.gif");
}

/*.front{
    background: linear-gradient(128.57deg, #D699A9 34.36%, rgba(248, 8, 224, 0.65) 101.04%);

    color: white;
    transform: rotateY(180deg);  
}*/ 
